.catMain{
    margin: 3em auto 1em;
    width: 80%;
}
.catMain h2{
    font-size: 30px;
    margin-bottom: 1em;
    font-weight: bold;

}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.contentCap{
    width: 300px;
    height: 300px;
    margin: 1em ;
    position: relative;
}
.contentCap img{
    height: 100%;
    width: 100%;
    position: absolute;
}
.contentCap button{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    border: none;
    outline: none;
    padding: .5em 1.7em;
    font-weight: bold;
    border-radius: 25px;
}
@media (max-width: 768px) {
    .catMain{
        width: 98%;
    }
}
