.catMain {
  margin: 3em auto 1em;
  width: 80%;
}
.catMain h2 {
  font-size: 30px;
  margin-bottom: 1em;
  font-weight: bold;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.contentCap {
  width: 300px;
  height: 300px;
  margin: 1em;
  position: relative;
  cursor: pointer;
}

.contentCap img {
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-out;
  position: absolute;
}
.contentCap img:hover {
  transform: scale(1.1);
}
.contentCap button {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  border: none;
  outline: none;
  padding: 0.5em 1.7em;
  font-weight: bold;
  font-family: serif;
  border-radius: 25px;
  transition: all 0.2s ease-out;
}
.contentCap button:hover {
  color: #fff;
  background-color: #ff6600;
}
@media (max-width: 768px) {
  .catMain {
    width: 98%;
  }
  .catMain h2 {
    text-align: center;
  }
}
