.giftCap {
  display: flex;
  margin: 2em auto;
  width: 70%;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.giftCat {
  text-align: center;
  margin: 1em auto;
}
.giftCat h2 {
  font-weight: 600;
}
.giftcontentCap {
  position: relative;
  margin-bottom: 1em;
}
.giftcontentCap button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  border: none;
  padding: 1em 1.5em;
  background-color: #ff4b2b;
  color: #fff;
  border-radius: 25px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.giftcontentCap button:hover {
  background-color: indianred;
}
.giftSec {
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e9e9;
}
.giftText {
  padding: 2em;
  width: 450px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.giftText h4 {
  font-weight: 600;
}
.giftText ul li {
  font-size: 18px;
  font-weight: 500;
}
.giftText button {
  background-color: transparent;
  color: #ff4b2b;
  outline: none;
  border-radius: 25px;
  border: none;
  padding: 0.5em 0;
  width: 50%;
  font-size: 20px;
}
.giftText button:hover {
  background-color: rgb(221, 221, 221);
}
.giftLogo {
  background-color: rgb(221, 221, 221);
  width: 450px;
  height: 300px;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.giftInner {
  display: flex;
  align-items: center;
}
.giftLogo img {
  width: 100px;
  height: 100px;
}
.giftLogo span {
  font-size: 30px;
  font-weight: 800;
}

.giftSearch {
  width: 70%;
  margin: 2em auto;
  text-align: center;
}
.inputSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  text-align: center;
  border: 1px solid #000;
  padding: 1em .2em;
  cursor: pointer;
}
.inputSearch input {
  border: none !important;
  margin: 0;
  width: calc(100% - 50px);
  outline: none;
}
.giftIcon {
  width: 50px;
  margin: auto;
}

.inputSearch:hover {
  border: 1px solid #ff4b2b;
  color: #ff4b2b;
}
.inputSearch:hover ~ .giftIcon{
  background-color: #ff4b2b;
}
.inputSearch:focus {
  border: 1px solid #ff4b2b;
  color: #ff4b2b;
}
.package {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.packageCap {
  margin: 1em;
}
.packageCap .giftcontentCap {
  margin-bottom: 0;
}
.packageCap .giftcontentCap .img-divv {
  width: 450px;
  overflow: hidden;
  height: 300px;
}
.packageCap a {
  font-size: 20px;
  font-weight: 800;
  color: #ff4b2b;
  margin: 0;
  margin-left: 0em;
}
.giftGrid {
  display: flex;
  width: 70%;
  margin: 1em auto;
  border-radius: 10px;
  padding: 1em;
  justify-content: center;
  align-items: center;
}
.word {
  height: 400px;
  width: 60%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px 0 0 20px;
  padding-left: 2em;
}
.word span {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}
.word p {
  text-align: left;
  font-size: 20px;
  margin: 20px 0;
  font-weight: 600;
}
.word button {
  border: none;
  border-radius: 8px;
  background-color: #ff4b2b;
  color: #fff;
  font-size: 20px;
  padding: 0.5em 1em;
}
.giftImg {
  transform: rotate(90deg);
  width: 40%;
  display: flex;
  justify-content: center;
}
.giftImg img {
  width: 400px;
  height: 100%;
  border-radius: 10px 10px 0 0px;
}
.giftPro {
  width: 70%;
  margin: 1em auto;
}
.giftPro h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2em;
}


/* Girls styleing */

.features{
  margin: auto;
  width: 70%;
  text-align: center;
}
.picc{
  display: flex;
  justify-content: center;
  align-self: center;
}
.group{
  margin-right: 1em;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.groupCap{
  width: 300px;
}
.groupCap img{
  width: 100%;
}
.single{
  width: 50%;
}