.main{
    width: 70%;
    border: 2px solid black;
    padding: 2em ;
    display: flex;
    margin: 1em auto;
    justify-content: space-between;
}
.text{
    width: 60%;
}
.text h3{
    font-size: 60px;
    line-height: 63px;
}
.text p{
    font-size: 25px;
    line-height: 33px;
}
.input{
    border: 2.5px solid #ff6600;
    width: 70%;
}
.input input{
    border-bottom: none !important;
    padding: .5em;
    font-size: 20px;
    color: #a1a1a1;
    
}
.pic img{
    height: 100%;
    width: 100%;
}