.Lmain{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #d15400;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    background: #d15400;
    overflow: hidden;
}
.Lmain img{
    height: 50px;
    width: 100px; 
    transform: translateY(110%);
    display: inline-block;
}