.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 1em 2em;
  position: relative;
}
.section {
  display: flex;
}
.sectionLink {
  margin: 0 1em;
}
.sectionLink h2 {
  font-weight: bold;
  margin: 0;
}
.sectionLink p {
  margin: 0;
  font-weight: 700;
}
.active h2 {
  color: #ff4b2b;
}
.third {
  display: flex;
  align-items: center;
}
.search {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  padding: 0.5em;
  border-radius: 50px;
  margin-right: 1em;
}
.search input {
  border: none;
  border-bottom: none !important;
  padding: 0%;
  margin: 0;
  outline: none;
  color: black;
}
.search input[placeholder] {
  color: black;
  font-weight: bold;
}
.icon {
  font-size: 1.4em;
  color: #000;
}
.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
  margin-left: 1em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.hamburger {
  display: none;
  font-size: 30px;
}
.sidebar{
    position: absolute;
    z-index: 2;
    width: 70%;
    height: 100%;
    background: #fff;
    margin-top: -7em;
    margin-left: 0;
}

.sidebar.hide{
    margin-left: -4000px;
}

/* media query */

@media (max-width: 1024px) {
  .nav {
    flex-direction: column;
  }
  .nav a {
    margin-bottom: 1em;
  }
  .section {
    margin-bottom: 2em;
  }
  .third {
    margin-bottom: 1em;
    justify-content: space-around;
    width: 100%;
  }
}
@media (max-width: 555px) {
  .section {
    display: none;
  }
  .search {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
