.optMain {
  width: 80%;
  margin: 1em auto;
}
.optMain h2 {
  text-align: center;
  font-weight: bold;
}

.optContent {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  justify-content: center;
}
.optContentCap {
  width: 220px;
}
.capMain {
  border: 2px solid black;
  margin: 1em 0;
  padding: 0.4em;
  width: 100%;
}
.capMain h1{
  font-size: 24px;
}
.capMain p {
  margin: 0.3em 0;
  font-size: 13px;
}
.down {
  text-align: center;
  border-bottom: 2px dotted black;
  padding: 1em 0 2em;
}
.down button {
  outline: none;
  border: none;
  background-color: black;
  border-radius: 25px;
  padding: 0.5em 1em;
  color: white;
}
@media (max-width: 1600px) {
  .optMain {
    width: 70%;
  }
  
}
@media (max-width: 768px) {
  .optMain {
    width: 98%;
  }

  .optContent {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 568px) {
  .optContent {
    grid-template-columns: auto;
  }
  .optContentCap{
    width: 300px;
  }
}
