.product {
  margin: 3em auto;
  width: 80%;
}

a {
  color: #000;
}
a:hover {
  color: #000;
}
.product h2 {
  font-weight: bold;
  font-size: 30px;
}
.text-proContent h2 {
  font-weight: 700;
  font-size: 20px;
}

.product .price {
  color: #708095;
  font-size: 20px;
  font-weight: 700;
}
.proContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.card-container {
  position: relative;

  width: 36rem;
  height: 22rem;
}

.background-block {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.card-container svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  font-size: 3rem;

  color: gray;
}

.card-container svg:hover {
  cursor: pointer;
  color: blue;
}

article {
  position: absolute;
  width: 12rem;
  height: 100%;

  transition: all 1s;
}

.card {
  position: absolute;
  background: #f5f5f5;
  cursor: pointer;
  margin: 1em;
}

.leftBtn {
  left: -1rem;
}

.rightBtn {
  right: -1rem;
}

.cards {
  background: #f5f5f5;
  cursor: pointer;
  margin: 1em;
}
.text-proContent {
  margin: 0.5em;
}
.item-name {
  text-align: left;
}
.img-div {
  width: 100%;
  overflow: hidden;
  min-height: 200px;
}
.img-div img {
  height: 14em;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}
.img-div img:hover {
  transform: scale(1.1);
}

.icons {
  font-size: 40px;
}
.pricing-and-cart button {
  padding: 0.5em 1em;
  margin: 1em auto;
  outline: none;
  border: none;
  color: #fff;
  background-color: #ff4b2b;
  transition: all 0.3s ease-in-out;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.pricing-and-cart button:hover {
  background-color: indianred;
}
@media (max-width: 1500px) {
  .product {
    width: 85%;
  }
  .proContent {
    width: 96%;
  }
}
@media (max-width: 768px) {
  .product {
    width: 98%;
  }
  .product .haha {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .icons {
    display: none;
  }
  .proContentCap {
    width: 90%;
  }
  .cards {
    width: 95%;
  }
  .img-div {
    width: 100%;
  }

  .pricing-and-cart button {
    width: 70%;
    margin-bottom: 0.5em;
  }
}

.card img {
  height: 15rem;
  width: 10rem;

  object-fit: cover;
  object-position: top;

  pointer-events: none;
}
