.product {
  margin: 3em auto;
  width: 80%;
}
a{
  color: #000;
}
a:hover{
  color: #000;
}
.product h2 {
  font-weight: bold;
  font-size: 30px;
}
.proContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}
.proContentCap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards{
    background: #f5f5f5;
    padding: 1em;
    cursor: pointer;
}
.text-container{
    margin-top: .7em;
}
.gow-img-div.img-div {
  height: 300px;
  width: 100%;
}
.gow-img-div.img-div img {
  height: 100%;
}
.pricing-and-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  font-size: 40px;
}
@media (max-width: 768px) {
    .product{
        width: 98%;
    }
}
