.form input {
  border: none !important;
  margin: 1em auto !important;
  width: 250px;
  cursor: pointer;
}

.hero {
  width: 100vw;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
}
.hero img{
  height: 100%;
  width: 100%;
  position: relative;
}
.upload {
  background-color: #fff;
  padding: 2em;
  width:450px;
  border-radius: 2rem 2rem 0 0;
  height: 80%;
  position: absolute;
  bottom: 0;
  text-align: center;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.upload h2 {
margin: 1.7em auto .9em;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.7;
  color: #333;
}
.upload h3{
  font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    color: #333;
    margin-bottom: .8em;
}
.upload button{
    outline: none;
    border: none;
    color: #fff;
    font-weight: 600;
    background-color: #ff4b2b;
    padding: 1em 2em;
    border-radius: 30px;
    transition: all .3s ease-in-out;
}
.upload button:hover{
    background-color: indianred;
}
/* p {
  margin: 0 !important;
  font-size: 18px !important;
} */

.form {
  border: dashed gray;
  width: 85%;
  margin: 2em auto;
  border-radius: 10px;
}
@media (max-width: 900px) {
  .hero{
    height: 100%;
  }
  .hero img{
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  .upload{
    text-align: center;
    position: relative;
    width: 100vw;
    height: 53%;
    right: 0;
    left: 0;
    bottom: inherit;
  }
}
@media (max-width: 425px) {
  .upload h2{
    font-size: 1.4em;
  }
  .upload h3{
    font-size: 1.2em;
  }
  .form{
    width: 95%;
  }
}
